<h1>Add</h1>
<form method="POST" action="/api/products/create">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Descriptiopn</label>
                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Descriptiopn">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Product</label>
                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Product">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Color</label>
                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Color">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Create At</label>
                <input type="date" class="form-control" id="" aria-describedby="" placeholder="Create At">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Image</label>
                <input type="text" class="form-control" id="" aria-describedby="" placeholder="Image">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Price</label>
                <input type="number" class="form-control" id="" aria-describedby="" placeholder="Price">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">ID</label>
                <input type="number" class="form-control" id="" aria-describedby="" placeholder="ID">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a name="" id="" class="btn btn-danger" href="/api/products" role="button">Cancel</a>
        </div>
    </div>
</form>